{% load static %}
<html>

<head>
  <title>Requisi&ccedil;&atilde;o / Atualiza&ccedil;&atilde;o de Grupo de Trabalho no CPTEC/INPE</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <style type="text/css">
    .sub_header p {
      text-align: center;
      font-size: 14px;
      padding: 20px;
    }

    body {
      font-weight: 200;
      font-size: 12px;
    }

    .header {
      font-size: 20px;
      font-weight: 100;
      text-align: center;
      padding: 10px 0 -20px 0;
    }

    .header p {
      text-align: center;
    }

    .informacoes {
      width: 300px;
      border: 1px solid;
      padding: 15px;
      margin: 0px;
      text-align: justify;
    }

    .informacoes2 {
      width: 300px;
      text-align: justify;
    }

    table {
      width: 300px;
    }

    img {
      zoom: 60%
    }

    h6 {
      text-align: center;
      padding: 10px 0 -24px 0;
    }

    .informacao2 img {
      zoom: 40%
    }
  </style>
</head>

<body>
  <img src="{{ logo }}" class="logo">
  <div class='wrapper'>
    <div class='header'>
      <p>Formul&aacute;rio para Requisi&ccedil;&atilde;o / Atualiza&ccedil;&atilde;o <br> de Grupo de Trabalho no CPTEC/INPE</p>
    </div>
  </div>
  <div class="informacao2">
    <br>
    A utiliza&ccedil;&atilde;o dos recursos do sistema de Supercomputa&ccedil;&atilde;o est&aacute; sujeito a normas de
    seguran&ccedil;a do INPE. <br> Como parte do cumprimento dessas normas,
    solicitamos uma leitura atenta das pol&iacute;ticas e procedimentos do INPE, dispon&iacute;veis no Portal da
    Supercomputa&ccedil;&atilde;o, das informa&ccedil;&otilde;es abaixo e
    preenchimento desse documento.
    <br><br>
    Nome do Grupo de Trabalho: <b>{{ grupo.grupo|upper }}</b> &nbsp; &nbsp; &nbsp; &nbsp;
    Divisão: <b>{{ grupo.divisao.divisao }}</b> <br><br>
    Tipo: &nbsp;
    {% if grupo.operacional_io %}
      <b> <img src="{{ checkbox_on }}"> Implementação Operacional &nbsp; &nbsp; </b>
    {% else %}
      <b> <img {% if grupo.operacional %} src="{{ checkbox_on }}" {% else %} src="{{ checkbox_off }}" {% endif %}> Operacional &nbsp; &nbsp;  </b>
    {% endif %}
    <b> <img {% if grupo.desenvolvimento %} src="{{ checkbox_on }}" {% else %} src="{{ checkbox_off }}" {% endif %}> Desenvolvimento &nbsp; &nbsp;</b>
    <b> <img {% if grupo.pesquisa %} src="{{ checkbox_on }}" {% else %} src="{{ checkbox_off }}" {% endif %}> Pesquisa &nbsp; &nbsp;  </b>
    <b> <img {% if grupo.documento %} src="{{ checkbox_on }}" {% else %} src="{{ checkbox_off }}" {% endif %}> Documento &nbsp; &nbsp;  </b>
    <br> <br>
    Distribui&ccedil;&atilde;o de Dados: &nbsp;
    <b> <img {% if grupo.share %} src="{{ checkbox_on }}" {% else %} src="{{ checkbox_off }}" {% endif %}> Share &nbsp; &nbsp; &nbsp; &nbsp; </b>
    <br> <br>
    <b>Informa&ccedil;&otilde;es adicionais:</b> <br>
    &bull; A quota disponibilizada seguir&aacute; padr&atilde;o para os grupos. <br>
    &bull; O solicitante do Grupo de Trabalho ser&aacute; do respons&aacute;vel do grupo podendo adicionar ou remover colaboradores<br>
    &bull; Qualquer mudan&ccedil;a de respons&aacute;vel ou tipo ou distribui&ccedil;&atilde;o de dados esse documento dever&aacute; ser atualizado.
    <br><br>
    <b>Declaro que li:</b> <br>
    &bull; RE/DIR-518 Normas de uso aceit&aacute;vel dos recursos computacionais do INPE;<br>
    &bull; Pol&iacute;tica do servi&ccedil;os Transf&ecirc;rencia de Dados CPTEC/INPE; <br>
    &bull; Pol&iacute;tica de acesso aos Dados e Servidores do CPTEC/INPE.<br>
    Procedimentos do CPTEC/INPE, necess&aacute;rios para acesso aos recursos de Supercomputa&ccedil;&atilde;o, e
    compreendo e aceito minhas responsabilidades no uso dos recursos aos quais terei acesso.
  </div>
  <div class='sub_header'>
    <p><b>Assinaturas</b></p>
  </div>
  {% for responsavel in responsaveis %}
  <table>
    <tr>
      <td></td>
      <td style="font-size:10px; width:30%; border-left: 1px solid #000; padding-left:2px;">Nome por extenso</td>
      <td style="font-size:10px; width:10%; border-left: 1px solid #000; padding-left:2px;">Data</td>
    </tr>
    <tr style="height:30px">
      <td></td>
      <td style="font-size:12px; width:30%; border-left: 1px solid #000; padding-left:2px;">
        <b>{{ responsavel.responsavel.full_name}}</b></td>
      <td style="border-left: 1px solid #000; "></td>
    </tr>
    <tr style="height:20px">
      <td style="width:40%; font-size:10px; text-align:center; border-top: 1px solid #000; padding-top:2px;">Solicitante
      </td>
      <td style="width:40%; border-top: 1px solid #000; "></td>
      <td style="width:20%; border-top: 1px solid #000; "></td>
    </tr>
  </table>
  <br>
  {% endfor %}


  <table>
    <tr>
      <td></td>
      <td style="font-size:8px; width:30%; border-left: 1px solid #000; padding-left:2px;">Carimbo ou nome por extenso
      </td>
      <td style="font-size:8px; width:10%; border-left: 1px solid #000; padding-left:2px;">Data</td>
    </tr>
    <tr style="height:30px">
      <td></td>
      <td style="border-left: 1px solid #000; "></td>
      <td style="border-left: 1px solid #000; "></td>
    </tr>
    <tr style="height:20px">
      <td style="width:40%; font-size:8px; text-align:center; border-top: 1px solid #000; padding-top:2px;">
        Autoriza&ccedil;&atilde;o do Titular da Divis&atilde;o do Requisitante</td>
      <td style="width:40%; border-top: 1px solid #000; "></td>
      <td style="width:20%; border-top: 1px solid #000; "></td>
    </tr>
  </table><br>
  <table>
    <tr>
      <td></td>
      <td style="font-size:8px; width:30%; border-left: 1px solid #000; padding-left:2px;">Carimbo ou nome por extenso
      </td>
      <td style="font-size:8px; width:10%; border-left: 1px solid #000; padding-left:2px;">Data</td>
    </tr>
    <tr style="height:30px">
      <td></td>
      <td style="border-left: 1px solid #000; "></td>
      <td style="border-left: 1px solid #000; "></td>
    </tr>
    <tr style="height:20px">
      <td style="width:40%; font-size:8px; text-align:center; border-top: 1px solid #000; padding-top:2px;">
        Autoriza&ccedil;&atilde;o do Titular da Divis&atilde;o de Opera&ccedil;&otilde;es do CPTEC</td>
      <td style="width:40%; border-top: 1px solid #000; "></td>
      <td style="width:20%; border-top: 1px solid #000; "></td>
    </tr>
  </table><br>
  <table>
    <tr>
      <td></td>
      <td style="font-size:8px; width:30%; border-left: 1px solid #000; padding-left:2px;">Carimbo ou nome por extenso
      </td>
      <td style="font-size:8px; width:10%; border-left: 1px solid #000; padding-left:2px;">Data</td>
    </tr>
    <tr style="height:30px">
      <td></td>
      <td style="border-left: 1px solid #000; "></td>
      <td style="border-left: 1px solid #000; "></td>
    </tr>
    <tr style="height:20px">
      <td style="width:40%; font-size:8px; text-align:center; border-top: 1px solid #000; padding-top:2px;">
        Autoriza&ccedil;&atilde;o do Titular do Servi&ccedil;o de Supercomputa&ccedil;&atilde;o e Suporte </td>
      <td style="width:40%; border-top: 1px solid #000; "></td>
      <td style="width:20%; border-top: 1px solid #000; "></td>
    </tr>
  </table>
</body>

</html>