{% extends "admin/change_form.html" %}
{% load i18n static  %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'infra/css/servidor.css' %}">
{% endblock %}

{% block extrajs %}
    <script>
        {% if add %}
            $('#id_tipo').prop('disabled', false);
            $('#id_tipo').selectpicker('refresh');
            $('#id_tipo_uso').prop('disabled', false);
            $('#id_tipo_uso').selectpicker('refresh');
            $("[name='_addanother']").hide()
        {% endif %}
    </script>
    <script src="{% static 'infra/js/form.js' %}"></script>
{% endblock %}

{% block submit_buttons_extra_bottom %} 
    {% if  object_id and original.conta == "Aguardando" and perms.infra.change_servidor %}
        <a href="{% url 'infra:criar_servidor_ldap' object_id  %}" class=" btn btn-info btn-verify-form" >Criar no FreeIPA</a>
        <a href="{% url 'infra:criar_servidor_local' object_id  %}" class=" btn btn-info btn-verify-form" >Criar com Conta Local</a>
    {% endif %}
    {% if original.status == "Em uso" %}
        <a href="{% url 'infra:alterar_servidor_status' object_id  %}" class=" btn btn-danger btn-verify-form" >Colocar em Manutenção</a>
    {% else %}
        <a href="{% url 'infra:alterar_servidor_status' object_id  %}" class=" btn btn-danger btn-verify-form" >Colocar em uso</a>
    {% endif %}
{% endblock %}

