{% extends 'base_email.html' %}
{% load garb_tags %}
{% block content %}
    <p>Ol&aacute;</p>
    <p> O colaborador <b>{{colaborador}}</b>  realizou o cadastro no nosso portal e foi enviado para secretaria da sua Divis&atilde;o, as informa&ccedil;&otilde;es ser&atilde;o conferidas
    e os respectivos formul&aacute;rios impressos para aquisi&ccedil;&atilde;o das assinaturas necess&aacute;rias. Incluindo a sua assinatura como respons&aacute;vel, ent&atilde;o
    v&aacute; a secret&aacute;ria.</p>
{% endblock content %}