{% extends 'base_email.html' %}
{% load garb_tags %}
{% block content %}
    <p>Ol&aacute;,</p>
    <p>Recebemos uma solicita&ccedil;&atilde;o de acesso Externo aos recursos da COIDS.</p>
    <p>Como você ainda não tem acesso ao nosso Portal, vamos te ajudar.</p>
    <p><b>Primeiro passo</b> voc&ecirc; precisa conhecer nossas normas e pol&iacute;ticas: <p>
    <ul>
        <li><a href="http://s0.cptec.inpe.br/sysadmin/documentos/re518.pdf">RE/DIR-518 Normas de uso aceit&aacute;vel dos recursos computacionais do INPE.</a></li>
        <li><a href="http://s0.cptec.inpe.br/sysadmin/documentos/politica_transferencia.pdf">Pol&iacute;tica para uso dos servi&ccedil;os de transfer&ecirc;ncia de dados da da COIDS</a></li>
        <li><a href="http://s0.cptec.inpe.br/sysadmin/documentos/politica_acesso.pdf">Pol&iacute;tica de acesso aos Dados e Servidores da COIDS</a></li>
    </ul>
    <p></p>
    <p><b>Segundo passo</b> voc&ecirc; pode encaminhar esse email com as informa&ccedil;&otilde;es necess&aacute;rias ou ligar para secretaria da Divis&atilde;o ou Coordena&ccedil;&atilde;o envolvida no seu processo de solicita&ccedil;&atilde;o do acesso.</p>

    <p>Informa&ccedil;&otilde;es necess&aacute;rias</p>  
    <ul >
        <li>Nome:</li>
        <li>Data de Nascimento:</li>
        <li>Telefone:</li>
        <li>CPF:</li>
        <li>RG: </li>
        <li>V&iacute;nculo com INPE:</li>
        <li>Divis&atilde;o ou Coordena&ccedil;&atilde;o:</li>
        <li>Data de In&iacute;cio:</li>
        <li>SIAPE (para servidor): </li>
        <li>Respons&aacute;vel (para Bolsita ou Terceiro): </li>
        <li>Data Fim (para Bolsita ou Terceiro): </li>
        <li>Empresa Terceirizada (para Terceiro):</li>
    </ul>
    <p></p>
    <p><b>Terceiro passo</b> A secretaria faz o cadastro portal e envia os formul&aacute;rios para assinatura e mais informa&ccedil;&otilde;es.</p>

    <p><b>Quarto passo</b> A secretaria disponibiliza os formularios para os respons&aacute;veis assinarem.</p>

    <p>Depois de tudo assinado vamos dar sequ&ecirc;ncia na libera&ccedil;&atilde;o da VPN e Cria&ccedil;&atilde;o das Contas!</p>

    <p>Obrigado.</p>

     <p><small> * As informa&ccedil;&otilde;es solicitadas s&atilde;o exclusivas para preenchimento de documentos solicitadas pelo INPE.</small></p>
     <p><small> * Qualquer duvida podem entrar em contato com o HELPDESK. <b>helpdesk.cptec@inpe.br | (12) 3106-8476</b></small></p>
{% endblock content %}
