{% extends 'base_email.html' %}
{% load garb_tags %}
{% block content %}
    <p>Ol&aacute;,</p>
    <p>Recebemos uma solicita&ccedil;&atilde;o de acesso Externo aos recursos da COIDS.</p>
    <p>Como voc&ecirc; ainda n&atilde;o tem acesso ao nosso Portal, vamos te ajudar na solicita&ccedil;&atilde;o.</p>
    <p><b>Primeiro passo</b> conhe&ccedil;a nossas normas e pol&iacute;ticas: <p>
    <ul style="padding-left: 40px;">
        <li><a href="http://s0.cptec.inpe.br/sysadmin/documentos/re518.pdf">RE/DIR-518 Normas de uso aceit&aacute;vel dos recursos computacionais do INPE.</a></li>
        <li><a href="http://s0.cptec.inpe.br/sysadmin/documentos/politica_transferencia.pdf">Pol&iacute;tica para uso dos servi&ccedil;os de transfer&ecirc;ncia de dados da da COIDS</a></li>
        <li><a href="http://s0.cptec.inpe.br/sysadmin/documentos/politica_acesso.pdf">Pol&iacute;tica de acesso aos Dados e Servidores da COIDS</a></li>
    </ul>
    <p></p>
    <p><b>Segundo passo</b> encaminhe esse email com as informa&ccedil;&otilde;es necess&aacute;rias para secretaria da Divis&atilde;o/Coordena&ccedil;&atilde;o referente ao seu v&iacute;nculo com INPE ou entre em contato por telefone e passe as informa&ccedil;&otilde;es, se a secretaria n&atilde;o estiver apta para tratar a solicita&ccedil;&atilde;o requisite que entrem em contato com a secretaria da COIDS (secretaria.coids@inpe.br).</p>

    <p>Informa&ccedil;&otilde;es necess&aacute;rias são:</p>  
    <ul style="padding-left: 40px;">
        <li>Nome:</li>
        <li>Data de Nascimento:</li>
        <li>Telefone:</li>
        <li>CPF:</li>
        <li>RG: </li>
        <li>V&iacute;nculo com INPE(Bolsista, Estagiário, Servidor, Terceiro):</li>
        <li>Divis&atilde;o ou Coordena&ccedil;&atilde;o:</li>
        <li>Data de In&iacute;cio do V&iacute;nculo com INPE:</li>
        <li>SIAPE (para Servidor): </li>
        <li>Respons&aacute;vel (para Bolsita ou Terceiro): </li>
        <li>Data Fim do V&iacute;nculo com INPE (para Bolsita ou Terceiro): </li>
        <li>Empresa Terceirizada (para Terceiro):</li>
        <li>MAC Address Wireless ou MAC Address Cabeado:  ___:___:___:___:___ </li>
    </ul>
    <p></p>
    <p><b>Terceiro passo</b> A secretaria vai realizar o cadastro em nosso portal (3SPortal), gerar e enviar os formul&aacute;rios para coleta da sua assinatura e as respectivas chefias e se necess&aacute;rio solicitar mais informa&ccedil;&otilde;es.</p>

    <p>Depois de tudo assinado vamos dar sequ&ecirc;ncia na libera&ccedil;&atilde;o da VPN e cria&ccedil;&atilde;o das contas!</p>

    <p>Obrigado.</p>

     <p><small> * As informa&ccedil;&otilde;es solicitadas s&atilde;o exclusivas para preenchimento dos documentos solicitados pelo INPE.</small></p>
     <p><small> * Qualquer d&uacute;vida pode entrar em contato com o HELPDESK. <b>helpdesk.cptec@inpe.br | (12) 3106-8476</b></small></p>
{% endblock content %}
