{% extends 'base_email.html' %}
{% block content %}
    <p>Ol&aacute;,</p>
    <p>O Cadastro do Colaborador <b>{{ name }}</b>, foi <b>REVISADO PELA  SECRETARIA</b>,</p>
    <p>Agora precisa da sua aprova&ccedil;&atilde;o para o suporte criar a conta.</p>
    <p style="text-align:center;">
        <a  href="{{ protocol }}://{{ domain }}{% url 'colaborador:chefia_aprovar' uidb64=uidb64 token=token  %}" target="_parent" class="btn"> Aprovar </a>
    </p>
    <p>Por segurança o link de aprova&ccedil;&atilde;o tem dura&ccedil;&atilde;o de 1 dia, ap&oacute;s esse tempo a secretaria precisa enviar a revis&atilde;o novamente.</p>
    <p>Obrigado, bom trabalho</p>
{% endblock content %}