Django
mysqlclient
numpy
fabric
celery_progress
pandas
pykafka==2.8.0
scikit-learn
xhtml2pdf==0.2.4
XenAPI==2.14
PyQRCode==1.2.1
python-freeipa==1.0.5
django-freeipa-auth-json==0.1.2.dev1
celery
django-celery-results==1.2.1
matplotlib
pypng
django-environ
redis
paho-mqtt==1.5.1
git+https://github.com/marcelogumercinocosta/django-garb.git