{% extends "admin/change_form.html" %}
{% load i18n static  %}
{% load i18n garb_tags static admin_urls%}

{% block extrajs %}
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script>
        {% if add %}
            $("[name='_addanother']").hide()
        {% else %}
            $('#id_mac_cabeado').mask('AA:AA:AA:AA:AA:AA', {
                onKeyPress: function(str, e, obj){ 
                    $(obj).val(str.toLowerCase());
                }
            });
            $('#id_mac_wifi').mask('AA:AA:AA:AA:AA:AA', {
                onKeyPress: function(str, e, obj){ 
                    $(obj).val(str.toLowerCase());
                }
            });
        {% endif %}
    </script>
{% endblock %}

{% block submit_buttons_bottom %}
    {% if original.status != "Inativa" %}
        {{ block.super }}
    {% else %}
        <a href="{% url opts|admin_urlname:'changelist' %}" class="btn btn-light">{% trans 'Back' %}</a>
            {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
            <a href="{% add_preserved_filters delete_url %}" class="text-error deletelink btn btn-danger">{% trans "Delete" %}</a>
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="btn btn-secondary">{% trans "History" %}</a>
    {% endif %} 
{% endblock %}

{% block submit_buttons_extra_bottom %}
    {% if not add and not original.mac_cabeado and not original.mac_wifi %}
        <a href="{% url 'colaborador:vpn_formulario' object_id  %}" class=" btn btn-info btn-verify-form" >Gerar Formulário</a>
    {% endif %}
{% endblock %}

