{% extends "admin/change_form.html" %}
{% load i18n admin_urls  %}

{% block breadcrumbs %}
    {% include "admin/includes/breadcrumbs.html" with nivel=1 breadcrumbs_action=original.full_name  %}
{% endblock %}

{% block submit_buttons_bottom %}
    <a href="{% url 'colaborador:conta_grupoacesso_solicitacao' %}" class=" btn btn-info">Solicitar Acesso para <br> Grupo de Trabalho</a>
    <a href="{% url 'colaborador:conta_historico'%}" class="btn btn-secondary">{% trans "History" %}</a>
{% endblock %}
