{% extends "admin/change_form.html" %}
{% load i18n garb_tags static admin_urls%}

{% block extrajs %}
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'colaborador/js/form.js' %}"></script>
    <script src="{% static 'colaborador/js/endereco.js' %}"></script>
{% endblock %}


    {% block submit_buttons_bottom %}
        {% if original.is_active %}
            {{ block.super }}
        {% else %}
            <a href="{% url opts|admin_urlname:'changelist' %}" class="btn btn-light">{% trans 'Back' %}</a>
            {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
            <a href="{% add_preserved_filters history_url %}" class="btn btn-secondary">{% trans "History" %}</a>
        {% endif %} 

    {% endblock %}

