{% extends "admin/base.html" %}

{% block content %}
<div id="content-main">
    <div class="change-columns">
        <div class="main-column">
            <div class="main-column-item">
                <br>
                {% for ambiente in ambientes %}
                <div class="box-garb p-0 box-garb-hover">
                    <div class="panel panel-default ">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title panel-title-xen m-0 ">
                                <a role="button" class="d-block w-100 p-4" href="{% url 'monitoramento:vms_xen_pool' ambiente.id %}">
                                    Ambiente Virtual: {{ ambiente }}
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}