<div class='wrapper'>
    <div class='header'>
        <p>Termo de Compromisso-RE/DIR-518 </p>
    </div>
</div>
<h6>Colaborador</h6>
<div class='informacoes_borda'>
    Eu, <b>{{ colaborador.full_name }}</b>, {{ colaborador.get_documento_principal|safe }},  abaixo assinado, declaro que li e entendi os termos do documento RE/DIR-518
    intitulado &quot;Normas de Uso Aceit&aacute;vel de Recursos Computacionais do INPE&quot; e estou ciente que a viola&ccedil;&atilde;o destas Normas
    me sujeita &agrave;s medidas disciplinares descritas neste documento, assim como aquelas previstas na legisla&ccedil;&atilde;o em vigor.
    <br><br>
    Divis&atilde;o: <b>{{ colaborador.divisao }}</b>&nbsp;&nbsp;&nbsp;
    {% if colaborador.externo %}
        Colaborador Externo: <b>SIM</b>
    {% else %}
        Ramal: <b>{{ colaborador.ramal|default_if_none:"Não informado" }}</b>&nbsp;&nbsp;&nbsp;
        Pr&eacute;dio: <b>{{ colaborador.predio }}</b>
    {%  endif %}

</div>

<h6>Vinculo do Colaborador</h6>
<div class='informacoes_borda'>
    Vínculo do Colaborador: <b>{{ colaborador.vinculo }}</b>
</div>

<h6>Qual o motivo do Preenchimento?</h6>
<div class='informacoes_borda'>
    Motivo do Preenchimento: 
    {% if "@inpe.br" in colaborador.email %} 
        <b>Atualização ou Nova de Conta para Acesso aos Recursos</b>
    {% else %}
        <b>{% if not colaborador.externo %} Novo email / {%  endif %} Conta para Acesso aos Recursos</b>
    {% endif %}
</div>
<br/>
<table>
    <tr>
        <td></td>
        <td style="font-size:10px; width:30%; border-left: 1px solid #000; padding-left:2px;">Nome por extenso</td>
        <td style="font-size:10px; width:10%; border-left: 1px solid #000; padding-left:2px;">Data</td>
    </tr>
    <tr style="height:30px">
        <td></td>
        <td style="font-size:12px; width:30%; border-left: 1px solid #000; padding-left:2px;"> <b>{{ colaborador.full_name }}</b></td>
        <td style="border-left: 1px solid #000; "></td>
    </tr>
    <tr style="height:20px">
        <td style="width:40%; font-size:10px; text-align:center; border-top: 1px solid #000; padding-top:2px;">Solicitante</td>
        <td style="width:40%; border-top: 1px solid #000; "></td>
        <td style="width:20%; border-top: 1px solid #000; "></td>
    </tr>
</table><br>
{% if colaborador.responsavel %}
<table>
    <tr>
        <td></td>
        <td style="font-size:10px; width:30%; border-left: 1px solid #000; padding-left:2px;">Carimbo ou nome por extenso</td>
        <td style="font-size:10px; width:10%; border-left: 1px solid #000; padding-left:2px;">Data</td>
    </tr>
    <tr style="height:30px">
        <td></td>
        <td style="font-size:12px; width:30%; border-left: 1px solid #000; padding-left:2px;"> <b>{{colaborador.responsavel.full_name}}</b></td>
        <td style="border-left: 1px solid #000; "></td>
    </tr>
    <tr style="height:20px">
        <td style="width:40%; font-size:12px; text-align:center; border-top: 1px solid #000; padding-top:2px;">Autoriza&ccedil;&atilde;o do Respons&aacute;vel </td>
        <td style="width:40%; border-top: 1px solid #000; "></td>
        <td style="width:20%; border-top: 1px solid #000; "></td>
    </tr>
</table>
<br>
{%  endif %}
<table>
    <tr>
        <td></td>
        <td style="font-size:10px; width:30%; border-left: 1px solid #000; padding-left:2px;">Carimbo ou nome por extenso</td>
        <td style="font-size:10px; width:10%; border-left: 1px solid #000; padding-left:2px;">Data</td>
    </tr>
    <tr style="height:30px">
        <td></td>
        <td style="border-left: 1px solid #000; "></td>
        <td style="border-left: 1px solid #000; "></td>
    </tr>
    <tr style="height:20px">
        <td style="width:40%; font-size:12px; text-align:center; border-top: 1px solid #000; padding-top:2px;">Autoriza&ccedil;&atilde;o do Titular da Unidade</b></td>
        <td style="width:40%; border-top: 1px solid #000; "></td>
        <td style="width:20%; border-top: 1px solid #000; "></td>
    </tr>
</table>
<br>

<h6>Observações</h6>
<div class='informacoes_borda'>
    Original deve ser arquivado na respectiva Unidade Organizacional.
    <br/>
    A cópia deve ser enviada à Coordenação de Recursos Humanos-CRH para arquivo no prontuário do colaborador.
</div>