
.column-montagem, .field-montagem {
    width: 100px;
    text-align: center;
    vertical-align: middle!important;
}

.column-prioridade {
    width: 90px;
}
.column-configuracao {
    width: 150px;
}