{% extends "admin/base.html" %}
{% load static i18n %}

{% block content %}
<div id="content-main">
	<div class="change-columns">
		<div class="main-column">
			<div class="box-garb">
				<div class="module-header">
					<div class="legend">Aprova&ccedil;&atilde;o de novos colaboradores da <b
							class="text-danger">{{divisao.full_name}} </b></div>
				</div>
				<p>Voc&ecirc; &eacute; respon&aacutevel por um importante controle dentro do INPE</p>
				<p class="text-justify">Voc&ecirc; pode acessar nessa p&aacute;gina os Termos de compromissos
					necess&aacute;rios para
					regulamenta&ccedil;&atilde;o do novo colaborador do INPE, as informa&ccedil;&otilde;es contidas no
					cadastro devem ser conferidas e os respectivos termos/formul&aacute;rios impressos e das assinados.
				</p>
				<p>Com TUDO OK, voc&ecirc; pode <b class="text-success">ENVIAR REVIS&Atilde;O</b> do cadastro para o
					Chefe da Divis&atilde;o <b class="text-success">AUTORIZAR</b> , se N&Atilde;O estiver correto
					e/ou sem assinaturas &eacute; s&oacute; <b class="text-danger">NEGAR</b>
				</p>
				<p> <small>*O email com link para revis&atilde;o dura 24h</small></p>
				<p class="text-danger pt-3"><b>Chefe(s) Ativo(s)</b></p>
				{% if divisao.chefe_ativo %}
				<p> - {{ divisao.chefe.first_name}} {{ divisao.chefe.last_name}} | {{divisao.chefe.email}}</p>
				{% endif %}
				{% if divisao.chefe_substituto_ativo %}
				<p> - {{ divisao.chefe_substituto.first_name}} {{ divisao.chefe_substituto.last_name}} |
					{{divisao.chefe_substituto.email}}</p>
				{% endif %}
			</div>
			{% if divisao.chefe_ativo or divisao.chefe_substituto_ativo  %}
			{% for colaborador in colaboradores %}
			<div class="box-garb">
				<div id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading{{ colaborador.id }}">
							<div class="module-header">
								<a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion"
									href="#collapse{{ colaborador.id }}" aria-expanded="false"
									aria-controls="collapse{{ colaborador.id }}">
									<div class="legend">{{ colaborador.full_name|upper  }}</div>
								</a>
							</div>
						</div>
						<div id="collapse{{ colaborador.id }}" class="panel-collapse collapse in" role="tabpanel"
							aria-labelledby="heading{{ colaborador.id }}">
							<div class="panel-body">
								<div class="row">
									<legend class="txt_cor_primaria">Informa&ccedil;&otilde;es Pessoais</legend>
									<div class="col-sm-5 offset-1">
										<div>
											<p><b>Nome: </b>{{ colaborador.full_name }}</p>
										</div>
										<div>
											<p><b>Data Nascimento: </b> {{ colaborador.data_nascimento }}</p>
										</div>
										
										{% if colaborador.cpf %}
										<div>
											<p><b>CPF: </b> {{ colaborador.cpf }}</p>
										</div>
										{% endif %}
									</div>
									<div class="col-sm-5">
										<div>
											<p><b>Email: </b>{{ colaborador.email }}</p>
										</div>
										<div>
											<p><b>Telefone: </b> {{ colaborador.telefone }}</p>
										</div>
										<div>
											<p><b>{{ colaborador.documento_tipo }} : </b> {{ colaborador.documento}}</p>
										</div>
									</div>
								</div>
								<div class="row pr-2 pl-2">
									<legend  class="txt_cor_primaria">Informa&ccedil;&otilde;es Profissionais</legend>
									<div class="col-sm-10 offset-1">
										<div>
											<p class="mb-0"><b>Divis&atilde;o|Coordena&ccedil;&atilde;o </b> {{ colaborador.divisao.full_name }}</p>
										</div>
									</div>
									<div class="col-sm-5 offset-1">
										<div>
											<p class="mb-0"><b>V&iacute;nculo: </b>{{ colaborador.vinculo }}</p>
										</div>
									</div>
									<div class="col-sm-5">
										<div>
											<p class="mb-0"><b>Colaborador Externo: </b>
												{% if colaborador.externo %}
													<img src="{% static "admin/img/icon-yes.svg" %}">
												{% else %}
													<img src="{% static "admin/img/icon-no.svg" %}">
												{% endif %}
											</p>
										</div>
									</div>
									
									<div class="col-sm-5 offset-1">
										<div>
											<p><b>Data de In&iacute;cio: </b>{{ colaborador.data_inicio|date:"SHORT_DATE_FORMAT" }}</p>
										</div>
										{% if not colaborador.externo %}
											<div>
												<p><b>Ramal: </b>{{ colaborador.ramal }}</p>
											</div>
										{% endif %}
										{% if colaborador.responsavel %}
											<div>
												<p><b>Respons&aacute;vel: </b>{{ colaborador.responsavel }}</p>
											</div>
										{% endif %}
									</div>
									<div class="col-sm-5  mt-0">
										{% if colaborador.vinculo.vinculo != 'Administrador' %}
											{% if colaborador.vinculo.vinculo == 'Servidor' %}
												<div>
													<p><b>Matr&iacute;cula SIAPE: </b>{{ colaborador.registro_inpe }}</p>
												</div>
											{% else %}
												<div>
													<p><b>Data de Fim: </b>{{ colaborador.data_fim|date:"SHORT_DATE_FORMAT" }}</p>
												</div>
											{% endif %}
										{% endif %}
										{% if not colaborador.externo %}
											<div>
												<p><b>Pr&eacute;dio: </b>{{ colaborador.predio }}</p>
											</div>
										{% endif %}
										
										{% if colaborador.vinculo.vinculo == 'Terceiro' %}
										<div>
											<p><b>Empresa Terceirizada: </b>{{ colaborador.empresa }}</p>
										</div>
										{% endif %}
									</div>
								</div>
								<div class="module-footer">
									<div class="buttons">
										<a href="{% url 'colaborador:secretaria_termo' colaborador.id  %}">
											<button type="button" class="btn btn-secondary width-btn-min">Ver termo de
												compromisso</button>
										</a>
										<button type="button" class="btn btn-danger width-btn-min negar"
											data-toggle="modal" data-target=".modal" value="{{colaborador.id}}">
											Negar
										</button>
										<a href="{% url 'colaborador:secretaria_revisar' colaborador.id %}">
											<button type="submit" class="btn btn-success width-btn-min aprovar"
												value="{{colaborador.id}}">Enviar revis&atilde;o</button>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% empty %}
			<div class="box-garb">
				<p>N&atilde;o existe colaborador para ser revisado.</p>
			</div>
			{% endfor %}
			{% else %}
			<div class="box-garb">
				<p>Precisa ter um chefe ativo para aprovar colaboradores</p>
			</div>
			{% endif %}
		</div>
		<div class="box-column box-garb">
			<div class="module-header">
				<div class="legend">Colaboradores</div>
			</div>
			<div id="status"></div>
		</div>
	</div>
</div>
<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header alert-danger">
				<h5 class="modal-title">Ops!!! tem algo errado, negar o cadastro. </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post" id="formValidate" action="{% url 'colaborador:secretaria_negar' %}">
				<div class="modal-body">
					{% csrf_token %}
					{{  form_negar }}
					<br>
					<div class="module-footer">
						<div class="buttons">
							<button type="submit" class="btn btn-danger width-btn-min">Negar</button>
							<button type="button" class="btn btn-secondary width-btn-min"
								data-dismiss="modal">Cancelar</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block extrajs %}
<script>
	$(".negar").click(function () {
		$("#id_motivo").val("");
		$("#id_colaborador").attr('value', $(this).val());
	});
	$("#status").load("{% url 'colaborador:status' %}");
</script>
{% endblock %}