{% extends "admin/base.html" %}
{% load i18n  garb_tags %}
{% load static %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'colaborador/css/timeline.css' %}"/>
{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
    <div class="module-box">
        <div class="content-box">
                <div class="title">
                    <h2 class="m-0  text-center">{{ None|garb_title }} / COIDS / INPE</h2>
                </div>
                <div class="text text-justify p-4">
                    <p>Obrigado,</p>
                    <p> Seu cadastro foi enviado para secretaria da sua Divis&atilde;o, as informa&ccedil;&otilde;es ser&atilde;o conferidas
                    e os respectivos formul&aacute;rios impressos para aquisi&ccedil;&atilde;o das assinaturas necess&aacute;rias. Incluindo a sua assinatura, ent&atilde;o
                    v&aacute; a secret&aacute;ria.</p>
                </div>
        </div>
    </div>
</div>
{% endblock %}
